/*
=============== 
Variables
===============
*/



.card-container {
  margin-top: 30px;
  background-color: transparent;
  width: 1000px;
  height: 500px;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  padding: 10px;
  overflow-wrap: anywhere;
  font-size: 2rem;
  font-weight: 700;
}

.card-front {
  background-color: #ffa400;
  color: #2a2a72;
}

.card-back {
  background-color: #2a2a72;
  color: #ffa400;
  transform: rotateY(180deg);
}
